/*초기화*/
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0; border: 0;}
html{overflow-x: hidden; overflow-y: scroll;}
body{font-family: "맑은 고딕",돋움,sans-serif;}

ul, li{list-style: none;}
a{text-decoration: none;}
a:focus{outline: 0;}
img{border: 0; outline: 0;}
.cf:after{
    display: block;
    content:'';
    clear: both;
}
.fl{
    float: left;
}
.fr{float: right;}

/*헤더*/
#nav{
    width: 100%;
    margin: 0 auto;
    background: #ffe900;
    height: 60px;
    border:none;
  }
  #nav .logo img{width: 150px; margin-top: -5px;}
  #nav .menu{width: 30px; margin:13px 0px 0px 15px;}
  #nav .search{width: 23px; margin:15px 15px 0px 0px;}

/*메뉴패널 팝업*/
#panel1{
    width: 280px;
    background: #ffe900;
}
#panel1 .logo{
	width: 130px;
	margin: 0 auto;
}
#panel1 .menu_list{ width: 100%; padding: 0;}
#panel1 .one-depth{border-radius: 0; border: 0; width: 100%;}
#panel1 .one-depth li{border-radius: 0; border: 0; width: 100%; margin: 0; }
#panel1 .one-depth li a{
	display: block;
	height: 30px;
    line-height: 30px;
    background-color: #e2eed2;
}
#panel1 .one-depth li ul li a{display: block;
	height: 30px;
    line-height: 30px;
    background-color: #eef6e8;}
#panel1 .one-depth li ul li a:after{background: transparent;}

#panel1 .insta{
    width: 140px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    text-shadow: none;
}
#panel1 .insta li:first-child{font-weight: 600; width: 80px; margin: 0 auto;}
#panel1 .insta li:last-child{width: 130px;}
#panel1 .insta li:last-child a{color: #ffe900;}

#panel1 .sns{width: 90px; text-shadow: none; margin: 0 auto;}
#panel1 .sns li{width: 19px; padding: 0 5px; text-align: center;}
#panel1 .sns li:first-child{font-size: 13px; width: 70px; padding-bottom: 10px;}

/*컨텐츠영역*/
#content{
    padding: 0px;
    background: #ffffff;
}
#main_img{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#main_img #slide_img_wrap1 ul li{
    float: left;
    position: absolute;
    width: 100%;
}
#main_img #slide_img_wrap1 ul li a{
    font-size: 0;
    display: block;
}
#main_img #slide_img_wrap1 ul li a img{
    width: 100%;
    display: block;
    margin-top: -25px;
}
#main_img #slide_img_wrap1 ul li a p{
    font-size: 50px; font-weight: 600;
    width: 280px;
    color:#000000; text-shadow: none;
    position: absolute; top: 10px; right: 10px;
    z-index: 9;
}
#main_img #slide_img_wrap1 ul li:nth-child(1) a p{top: 170px; right: -10px; font-size: 45px;}
.v0_txt1{color: #94f3de; text-shadow:1px 1px 1px #777777;}
.v0_txt2{color: rgb(255, 40, 154); text-shadow:1px 1px 1px #f3f3f3;}
.v1_txt1{color: #94f3de; text-shadow: 0 1px 2px #777777;}
.v1_txt2{color: #716549;  }

.v1_txt3{color: #f7c7c8;
    -webkit-background: linear-gradient(to right, #716549,#716549, #f7c7c8, #f7c7c8); 
	-moz-background: linear-gradient(to right, #716549,#716549, #f7c7c8, #f7c7c8);
	-o-background: linear-gradient(to right, #716549,#716549, #f7c7c8, #f7c7c8);
	-ms-background: linear-gradient(to right, #716549,#716549, #f7c7c8, #f7c7c8);
	background: linear-gradient(to right, #716549,#716549, #f7c7c8, #f7c7c8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	-ms-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-o-text-fill-color: transparent;
	-ms-text-fill-color: transparent;}
.v1_txt4{color: #f7c7c8; text-shadow: 0 1px 2px #777777;}
#main_img #slide_img_wrap1 ul li:nth-child(3) a p{
    font-size: 50px; font-weight: 600;
    width: 200px; text-shadow: none;
    text-align: right;
    color: #a39161; text-shadow: 0 1px 2px #777777;
    right: 20px;
}

#main_img #slide_img_wrap1 ul li:nth-child(4) a p{
    font-family: 'paybooc-Bold';
    font-size: 30px; font-weight: 600;
    width: 270px; text-shadow: none;
    text-align: right;
    color: #4e4427;
    top:60px; right: 10px;
}

#main_img #slide_img_wrap1 .visual_0{
    left: 0;
}
#main_img #slide_img_wrap1 .visual_1{
    left: 100%;
}
#main_img #slide_img_wrap1 .visual_2{
    left: 200%;
}
#main_img #slide_img_wrap1 .visual_3{
    left: 300%;
}
#main_img .slide_num{
    width: 64px;
    height: 16px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -32px;
}
#main_img .slide_num ul li{
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #a39161;
    box-shadow: 1px 1px 1px #80724b;
    float: left;
    margin: 0 2px;
}

#main_img .slide_num ul li.on{
box-sizing: border-box;
width: 12px;
height: 12px;
background-color: #eef6e8;
float: left;
}
#main_img .slide_num ul li a{
font-size:0;
display: block;
}
#main_img #btnImg{
    position: relative;
    top: 50%; margin-top: -15px;
    width: 100%;
}
#main_img #btnImg .next{
    position: absolute;
    right: 15px;
    cursor: pointer;
}
#main_img #btnImg .prev{
    position: absolute;
    left: 15px;
    cursor: pointer;
}

/*오늘의 특가*/
#cont1{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
#cont1 .title{
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 15px;
}
#cont1 .title h4{
    font-size: 18px;
    text-align: left;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    padding-bottom: 5px;
}
#cont1 .title p{
    font-size: 13px;
    text-align: left;
    color: rgb(92, 91, 91);
    font-weight: 500;
    letter-spacing: -1px;
}
#cont1 .sale{
    width: 100%;
    text-shadow: none;
    cursor: pointer;
    height: 250px;
    background-color: #ffe900;
    box-sizing: border-box;
    padding: 20px 0;
}

#cont1 .sale .sale_box{width: fit-content; display: table; margin: 5px auto;}
#cont1 .sale .productImg{
    width: 120px; height: 120px;
    background: url(../img/event1.png) no-repeat center center/cover;
}

#cont1 .sale .sale_info{
    width: 200px;
    text-align: center;
    padding-left: 25px;
    margin-top: -5px;
}


#cont1 .sale .timer{font-size: 36px; font-weight: 600; color: #aa882b; text-shadow: none;}

#cont1 .sale .productName{
    font-weight: 600; letter-spacing: -1px;
    margin-top: 5px;
}
#cont1 .sale .price{
    margin-top: 8px;
}
#cont1 .sale .price .orginPrice{
    font-size: 14px; color: #aeaeae;
    text-decoration: line-through;
}
#cont1 .sale .price .discount{
    font-weight: 600; color: #000;
}


/*스와이퍼 영역*/
#cont2{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
#cont2 .title{
    padding-top: 25px;
    padding-left: 10px;
}
#cont2 .title h4{
    font-size: 18px;
    text-align: left;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    padding-bottom: 5px;
}
#cont2 .title p{
    font-size: 13px;
    text-align: left;
    color: rgb(92, 91, 91);
    font-weight: 500;
    letter-spacing: -1px;
}

.swiper-container{
    z-index: 0;
    width: 340px; overflow: visible !important; cursor: pointer; padding-top: 20px; margin-left: 20px;
}
.swiper-wrapper{z-index: 0;}
.swiper-slide{width: 150px; margin: 0;z-index:0;}
.swiper-slide .img a{cursor: pointer;}
.swiper-slide .img img{
    width: 150px;
}

.swiper-slide .tit a{
    color: #fefefe;
    width: 140px;
    font-size: 11px;
    height: 30px;
    display: block;
    text-align: left;
    background: #aa882b url(../img/arrow_btn2.png) no-repeat 130px center;
    line-height: 30px;
    box-shadow: none;
    text-shadow: none;
    padding: 0 5px;
}

/*피규어*/
#cont3{
    width: 100%;
    height: 450px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#cont3 .title{
    padding-top: 25px;
    padding-left: 10px;
}
#cont3 .title h4{
    font-size: 18px;
    text-align: left;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    padding-bottom: 5px;
}
#cont3 .title p{
    font-size: 13px;
    text-align: left;
    color: rgb(92, 91, 91);
    font-weight: 500;
    letter-spacing: -1px;
}
#cont3 .vido{width: 320px; margin: 0 auto; margin-top: 20px;}

/*마카롱*/
#cont4{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #dde6d1;
}
#cont4 .title{
    padding-top: 25px;
}
#cont4 .title h4{
    font-size: 18px;
    text-align: center;
    color:#000000;
    font-weight: 500;
    letter-spacing: -1px;
}

#cont4 #cont4_img{
    width: 210px;
    height:200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#cont4 #cont4_img ul li{
    float: left;
    position: absolute;
    width: 100%;
}

#cont4 #cont4_img ul li a{
    font-size: 0;
    display: block;
}

#cont4 #cont4_img ul li a img{
    width: 100%;
    height: 180px;
    margin: 0 auto; margin-top: -20px;
    display: block;
    /* background-color: #ffa43c; */
}

#cont4 #cont4_img .visual_0{left:0;}
#cont4 #cont4_img .visual_1{left:100%;}
#cont4 #cont4_img .visual_2{left:200%;}
#cont4 #cont4_img .visual_3{left:300%;}
#cont4 #cont4_img .visual_4{left:400%;}
#cont4 #cont4_img .visual_5{left:500%;}
#cont4 #cont4_img .visual_6{left:600%;}
#cont4 #cont4_img .visual_7{left:700%;}
#cont4 #cont4_img .visual_8{left:800%;}
#cont4 #cont4_img .visual_9{left:900%;}
#cont4 #cont4_img .visual_10{left:1000%;}
#cont4 #cont4_img .visual_11{left:1100%;}


#cont4 .btn{width: 100%; position: relative; top: -140px;}
#cont4 .btn .next{position: absolute; right: 50px; cursor: pointer;}
#cont4 .btn .prev{position: absolute; left: 50px; cursor: pointer;}

/*기본 푸터*/
#cont{
    width: 100%;
    height: 100px;
    /* height: 190px; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f3;
    border-top: 1px solid #dddddd;
}

#cont ul{width: 110px; margin: 0 auto; text-shadow: none;}
#cont ul li{width: 19px; padding: 0 5px; text-align: center;}

#cont .foot_info{
    width: 220px;
}
#cont .foot_info p{
    font-size: 13px;
    color: #7e7e7e;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: -0.5px;
    line-height: 20px;
    text-align: center;
}
#cont .foot_info li{width: 50px;}
#cont .foot_info li:last-child{width: 90px;}
#cont .foot_info a{
    font-size: 11px;
    line-height: 18px;
    color: #777777;
}

/* 푸터 */
#footer{
    width: 100%;
    margin: 0 auto;
    background-color: #ffe900;
    height:60px;
    border: none;
}

#footer .map{width: 32px; display: inline-block; margin: 12px 30px 0px 30px;}
#footer .login{width: 37px; display: inline-block; position: absolute; left:30%; top: 14px;}
#footer .basket{width: 37px; display: inline-block; position: absolute; left: 55%; top: 14px;}
#footer .deliver{width: 45px; display: inline-block; float: right; margin: 17px 30px 0px 0px;}



/*search 모달*/
#search{
    background-color: #5c3d1e;
    width: 100%; height: 60px;
    position: fixed; top: 60px;
    display: none;
}
#search .search-header{
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: block;
    box-shadow: none;
    text-shadow: none;
    position: absolute;
    top: 13px; left: 50%; transform: translateX(-60%);
}
#search .search-header input{
    width: 100%;
    height: 30px;
    border: 1px solid #a39161;
    border-radius:0;
    box-shadow:none !important;
    text-shadow: none;
    padding-left: 10px;
    background-color: #5c3d1e;
    color: #ffffff;
}
#search .search-header input::placeholder {
    color: #bbbbbb;
  }
#search .search-header a{
    position: absolute;
    right: 0px;
    top:6px;
}
#search .btn-close{
    display: block;
    width: 32px; height: 32px;
    font-size: 32px; text-shadow: none;
    color: #a39161;
    line-height: 25px;
    text-align: center;
    /* background-color: #b87b43; */
    margin-left: 10px;
    position: absolute; right: 3%; top: 13px;
}


/*매장찾기*/
#maps #content1{width: 100%; margin: 0; padding: 0;}

#maps #content1 .loca_bg{
    width: 100%; height: 250px;
    background: url(../img/location_bg.jpg) no-repeat center center /cover;
}
#maps #content1 .over{width: 100%; height: 250px; position: absolute; top: 60px;}
#maps #content1 .over .bg_over{width: 100%; height: 250px; background: #000000; opacity: .5;}
#maps #content1 .over p{text-shadow: none; color: white; text-align: center; position: relative; z-index: 1; top: -100px;}
#maps #content1 .over .lo_bg_uptit{
    text-shadow: 0 0 3px #000000;
}
#maps #content1 .over .lo_bg_tit{
    font-weight: 500; font-size: 40px;
    text-shadow: 0 0 3px #000000;
}


#maps #content1 .map_wrap{
    width: 330px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

#ggmap{
	margin-left:0%;
	width: 330px;
	/* position: relative; left: 700px; top: 50%; margin-top: -220px; */
}

.map-block {
	height: 280px;
	margin-bottom:0;
	/* border-radius: 100px; */
}
 

.map-block div {
  z-index: 1;
}

#maps #content1 .map_wrap .store{
    width: 330px;
    margin-top: 10px;
}
#maps #content1 .map_wrap .store .undLine{
    width: 330px; height: 2px;
    background-color: #495f29;
}
#maps #content1 .map_wrap .store img{
    display: block;
    width: 300; margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



/*로그인 페이지*/
#login{background-color: #ffffff;}
#login #content2{width: 100%; margin: 0; padding: 0;}
#login #content2 .login_wrap{
    height:calc(100vh - 241px);
    width: 330px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

#login #content2 .login_wrap h4{
    font-size: 20px;
    font-weight: 900;
    color: #a39161;
    text-align: center;
    margin-top: 10px;
}

#login #content2 .input_wrap{
    width: 330px;
    margin: 0 auto;
    padding-top: 20px;
}

#login #content2 .input_wrap input{
    width: 319px;
    height:50px;
    border: 1px solid#d1d1d1;
    padding-left: 10px;
    margin-bottom: 10px;
}
#login #content2 .login_btn{
    width: 330px;
    height: 45px;
    margin: 0 auto;
}
#login #content2 .login_btn a{
    display: block;
    font-size: 16px;
    color: #ebdcb7;
    text-align: center;
    background-color: #8b9c72;
    width: 330px;
    height: 45px;
    line-height: 45px;
    text-shadow: none;

}
#login #content2 .text{
    width: 260px;
    margin: 0 auto;
    padding-top: 20px;
}
#login #content2 .text ul li{
    float: left;
    color: #a39161;
}
#login #content2 .text ul li a{
    font-size: 13px;
    font-weight: 400;
    color: #a39161;
}
#login #content2 .text ul li span{
    padding: 0 10px;
    font-size: 13px;
}


/*장바구니*/
#baskets #content3{width: 100%; margin: 0; padding: 0;}

#baskets #content3 .basket_wrap{
    height:calc(100vh - 241px);
    width: 330px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
#baskets #content3 .basket_wrap h4{
    font-size: 20px;
    font-weight: 900;
    color: #a39161;
    text-align: center;
    margin-top: 10px;
}


#baskets #content3 .basket_wrap .list{
    width: 330px;
    height: 350px;
    border: 1px solid #dddddd;
    margin: 20px auto;
}
#baskets #content3 .basket_wrap .list p{
    margin-top: 160px;
    font-size: 14px;
    color: #adadad;
    text-align: center;
    line-height: 30px;
}
#baskets #content3 .basket_wrap ul{
    width: 250px;
    margin: 0 auto;
    padding-top: 20px;
}

#baskets #content3 .basket_wrap ul li{
    float: left;
    margin-left: 10px;
}

#baskets #content3 .basket_wrap ul li.li1{
    margin-left: 0px;
}

#baskets #content3 .basket_wrap ul li a{
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
}

#baskets #content3 .basket_wrap ul li.li1 a{
    background-color: #dce2d3;
    color: #aeaeae;
    text-shadow: none;
}
#baskets #content3 .basket_wrap ul li.li2 a{
    background-color: #8b9c72;
    color: #ebdcb7;
    text-shadow: none;
}



/* 배달 */
#delivery #content4{width: 100%; margin: 0; padding: 0;}

#delivery #content4 .delivery_wrap{
    /* height:calc(100vh - 241px); */
    width: 330px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
#delivery #content4 .delivery_wrap h4{
    font-size: 20px;
    font-weight: 900;
    color: #a39161;
    text-align: center;
    margin-top: 10px;
}


#delivery #content4 .delivery_wrap .delivery_notice{
    width: 330px;
    height: 120px;
    margin: 15px auto;

    background-color: #cbe9e7; 
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
#delivery #content4 .delivery_wrap .delivery_notice::after {
    content:'';
    position:absolute; bottom:-15px; left:145px;
	border-top:15px solid #cbe9e7;
	border-left:15px solid transparent;/*색상 투명*/
	border-right:15px solid transparent;/*색상 투명*/
}
#delivery #content4 .delivery_wrap .delivery_notice li{
    font-size: 13px;
    color: #343434;
    text-shadow: none;
}
#delivery #content4 .delivery_wrap .delivery_notice li:before{content: "◈"; padding-right:5px;}

#delivery #content4 .delivery_wrap .delivery_info{
    width: 330px;
    height: 210px;
    background-color: #ffe900; 
    margin: 0 auto;
    margin-top: 18px;
    box-sizing: border-box;
    padding: 10px;
}

#delivery #content4 .delivery_wrap .delivery_info li{
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
#delivery #content4 .delivery_wrap .delivery_info li p{
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
}


#delivery #content4 .input_wrap{
    width: 330px;
    margin: 10px auto;
    margin-top: 20px;
}

#delivery #content4 .input_wrap input{
    width: 319px;
    height:40px;
    border: 1px solid#d1d1d1;
    padding-left: 10px;
    margin-bottom: 10px;
}
#delivery #content4 .login_btn{
    width: 330px;
    height: 45px;
    margin: 0 auto;
}
#delivery #content4 .login_btn a{
    display: block;
    font-size: 16px;
    color: #ebdcb7;
    text-align: center;
    background-color: #8b9c72;
    width: 330px;
    height: 45px;
    line-height: 45px;
    text-shadow: none;

}
#delivery #content4 .text{
    width: 260px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 40px;
}
#delivery #content4 .text ul li{
    float: left;
    color: #a39161;
}
#delivery #content4 .text ul li a{
    font-size: 13px;
    font-weight: 400;
    color: #a39161;
}
#delivery #content4 .text ul li span{
    padding: 0 10px;
    font-size: 13px;
}
