
*{margin: 0; border: 0; outline: 0; padding: 0;}
body{overflow-x: hidden;}
li{list-style: none;}
footer ul li a{background-color: #ff595c;}
#ham{background: none; border: 0; outline: 0;}
#panel2 button{margin-bottom: 30px;}
#panel2 button{background-color: #ff595c;}
#panel2 button a{color: #fff; text-decoration: none;}

#page1{overflow-y: hidden;}


#banner{background: url(../img/main_banner.png) no-repeat; background-size: 100%; height: 300px; position: relative;}
#event_banner{background: url(../img/event_banner.png) no-repeat; background-size: 100%; height: 200px;}

.close{margin-top: -150px;}

#tab .button a{letter-spacing: -1px; background-color: #c3c3c3;}
#tab .button a:hover{color: #ff595c;}

.ui-grid-b{width: 100%; height: auto; font-size: 0.75em;}
.ui-grid-b li{width: 33%; background-color: #efefef;}
.ui-grid-b li a{color: #666; display: block; padding: 8px 10px; text-align: center;}
.ui-grid-b li a:hover{color: #ff595c;}


#tab1 img{float: left;}
#tab1 ul li{margin-bottom: 100px;}
#tab1 ul{margin-top: 50px;}
#tab1 .introduce{margin-left: 180px;}
#tab1 .introduce p{font-size: 14px;}
#tab1 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab1 .introduce span{color: red; font-weight: bold;}
.tab_tit{margin-left: 20px;}


#tab2 img{float: left;}
#tab2 ul li{margin-bottom: 100px;}
#tab2 ul{margin-top: 50px;}
#tab2 .introduce{margin-left: 180px;}
#tab2 .introduce p{font-size: 14px;}
#tab2 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab2 .introduce span{color: red; font-weight: bold;}

#tab3 img{float: left;}
#tab3 ul li{margin-bottom: 100px;}
#tab3 ul{margin-top: 50px;}
#tab3 .introduce{margin-left: 180px;}
#tab3 .introduce p{font-size: 14px;}
#tab3 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab3 .introduce span{color: red; font-weight: bold;}

#tab4 img{float: left;}
#tab4 ul li{margin-bottom: 100px;}
#tab4 ul{margin-top: 50px;}
#tab4 .introduce{margin-left: 180px;}
#tab4 .introduce p{font-size: 14px;}
#tab4 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab4 .introduce span{color: red; font-weight: bold;}

#tab5 img{float: left;}
#tab5 ul li{margin-bottom: 100px;}
#tab5 ul{margin-top: 50px;}
#tab5 .introduce{margin-left: 180px;}
#tab5 .introduce p{font-size: 14px;}
#tab5 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab5 .introduce span{color: red; font-weight: bold;}

#tab6 img{float: left;}
#tab6 ul li{margin-bottom: 100px;}
#tab6 ul{margin-top: 50px;}
#tab6 .introduce{margin-left: 180px;}
#tab6 .introduce p{font-size: 14px;}
#tab6 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab6 .introduce span{color: red; font-weight: bold;}

#tab7 img{float: left;}
#tab7 ul li{margin-bottom: 100px;}
#tab7 ul{margin-top: 50px;}
#tab7 .introduce{margin-left: 180px;}
#tab7 .introduce p{font-size: 14px;}
#tab7 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab7 .introduce span{color: red; font-weight: bold;}

#tab8 img{float: left;}
#tab8 ul li{margin-bottom: 100px;}
#tab8 ul{margin-top: 50px;}
#tab8 .introduce{margin-left: 180px;}
#tab8 .introduce p{font-size: 14px;}
#tab8 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab8 .introduce span{color: red; font-weight: bold;}

#tab9 img{float: left;}
#tab9 ul li{margin-bottom: 100px;}
#tab9 ul{margin-top: 50px;}
#tab9 .introduce{margin-left: 180px;}
#tab9 .introduce p{font-size: 14px;}
#tab9 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab9 .introduce span{color: red; font-weight: bold;}

#tab10 img{float: left;}
#tab10 ul li{margin-bottom: 100px;}
#tab10 ul{margin-top: 50px;}
#tab10 .introduce{margin-left: 180px;}
#tab10 .introduce p{font-size: 14px;}
#tab10 .introduce p:nth-child(3){margin-top: 20px; color: #666;}
#tab10 .introduce span{color: red; font-weight: bold;}



#product .product_tit{margin-bottom: 20px; margin-left: 20px;}
#product ul li{float: left; margin-bottom: 50px;}
#product ul li img{float: left;}
#product p{font-size: 14px;}
#product p span{color: red; font-weight: bold;}


#product_list{margin-left: 20px;}
#product_list img{float: left;}
#product_list ul li{margin-bottom: 50px;}
#product_list ul{margin-top: 50px;}
#product_list .introduce{margin-left: 180px;}
#product_list .introduce p{font-size: 14px;}

#product_list .introduce span{color: red; font-weight: bold;}


#gray{position: absolute; bottom: 0px; margin-bottom: -150px; background-color: #c3c3c3; text-align: center; color: #666; text-shadow: 0 0 0; width: 100%;}
#gray h4{text-align: center; width: 100%;}
#gray .ment{padding: 20px;}
#gray p{font-size: 0.85em; margin-top: 10px; width: 100%;}
#gray span{font-size: 0.8em; width: 100%;}




address, em{font-style:normal;}
ol, ul{list-style:none; }
a{text-decoration:none; cursor:pointer;}

#wrap{width:1200px; margin:50px auto;}
#container{ display:block; width:100%; height:100%; }

/* 슬라이드3개 */
.slide_zone{margin-left: 50px;}
.slide_zone:after { content: ""; display: block; clear: both;}
.slide_zone article {position:relative; width:383px; height:260px; overflow:hidden; margin-bottom: 50px;}
.slide_zone article:last-child { margin:0;}
.slide_zone article img {width: 100%;min-height: 13rem;}
.slide_zone .swipe a { overflow: hidden; height: 0; display: block; padding-bottom: 68%;}
.slide_zone article h3 { position:absolute; left:0; top:0; z-index:10; width:100%; height:34px; line-height:34px; background:rgba(0,0,0,0.3); font-size:14px; color:#fff; font-weight:normal; text-indent: .7rem;}
.slide_zone article .more { position: absolute; right: 7px; top:7px; z-index: 10; font-size:16px;width:20px; height:20px; border:1px solid #a7b1c1; color:#a7b1c1; background-color:#efefef; box-sizing:border-box; text-align: center; line-height:15px;}

.slide_zone article .bx-controls { position:absolute; right:30px; top:7px; z-index:10; font-size:0; width:60px; padding:0 20px; box-sizing:border-box;}
.slide_zone article .bx-controls > * { display:inline-block;}
.slide_zone article .bx-controls a { overflow:hidden; display:inline-block; width:20px; height:20px; border:1px solid #a7b1c1; background-color:#fff; box-sizing:border-box; text-decoration:none;}
.slide_zone article .bx-pager { font-size:14px; color:#fff; position:absolute; left:-100%; top:0; width:50px; text-align:right }
.slide_zone article .slider2 .bx-pager { left:-80% }
.slide_zone article .bx-stop { font-size: 10px;position:absolute; top:0; text-align:center;}
.slide_zone article .bx-start {position:absolute; top:0; text-align:center; }
.slide_zone article .bx-prev,
.slide_zone article .bx-next { position:absolute; top:0; text-align:center;}
.slide_zone article .more:before,
.slide_zone article .bx-start:before,
.slide_zone article .bx-stop:before,
.slide_zone article .bx-prev:before,
.slide_zone article .bx-next:before { font-size:12px; color:#666666; font-family:"맑은 고딕";padding-left:3px;}
.slide_zone article .bx-prev { left:0;}
.slide_zone article .bx-next { right:0;}
.slide_zone article .more:before{ content: " + "; font-weight:bold; font-size:18px; }
.slide_zone article .bx-start:before{ content: " ▶";}
.slide_zone article .bx-stop:before{ content: " ■ ";}
.slide_zone article .bx-prev:before{ content:" ◁ ";}
.slide_zone article .bx-next:before{ content:" ▷ ";}


.sr_only, .hidden, .hide { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0 }

.clip {overflow: hidden; width: 1px; height: 1px; margin:-1px; position:absolute;  clip: rect(0, 0, 0, 0); text-indent:-100px;}




.mypage_name{margin-left: 50px; margin-top: 30px; margin-bottom: 30px;}
.mypage_name img{float: left; margin-right: 10px;}
.list{width: 95%; height: 500px; position: relative; left: 10px;}

