* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: Verdana, serif;
	color: #000;
	font-size: 14px;
}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #bd5c5b;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 800px;
		height: 350px;
		overflow: hidden;
		margin: 100px auto;
		position: relative;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('./images/line.png') center 40px no-repeat;
				background-size:30px 3px;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
				}
				#issues li h1 {
					color: #bd5c5b;
					font-size: 48px;
					margin: 20px 0;
				}
				#issues li p {
					width:650px;
					margin:0 auto;
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
				}
		

		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('./images/next.png');
			}
			#prev {
				left: 0;
				background-image: url('./images/prev.png');
			}

	

