*{margin: 0px; padding: 0px; border: 0px;}
*::selection{background-color: transparent;}
html{overflow-y: scroll; overflow-x: hidden;}
body{font-family: "나눔고딕", sans-serif;}
ul, li{list-style: none;}
a{text-decoration: none;}
img{border: 0px;}
.fl{float: left;}

body{width: 100%; text-align: center; background: #023586;}

#top_btn{
	position: fixed;
	top: 90%;
	right: 25px;
	z-index: 400;
}

/* header */
#header_wrap{
	width: 100%;
	height: 115px;
	position: relative;
	background: #ffffff;
	z-index: 200;
}
#header_wrap #header_fixed{
	width: 100%;
	position: fixed;
	background: #ffffff;
	border-bottom: 1px solid #dddddd;
}
#header_wrap #header{
	width: 1180px;
	height: 100px;
	margin: 0 auto;
}
/* 왼쪽 위에 로그인 */
#header_wrap #header #gnb{
	width: 1180px;
	height: 27px;
	margin-top: 15px;
}
#header_wrap #header #gnb .top_gnb{
	margin-left: 25px;
}
#header_wrap #header #gnb .top_gnb li{  /* 좌측상단글로벌메뉴:해피포인트영역 */
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	background:url(../img/line.png) no-repeat center right;
}

#header_wrap #header #gnb .top_gnb li:last-child{
	background: none;
}
#header_wrap #header #gnb .top_gnb li a{
	font-size: 13px;
	font-weight: 500;
	color: #848484;
	display: block;
}
/* 맨 오른쪽 sns */
#header_wrap #header #gnb .top_sns{
	float: right;
	height: 24px;
}
#header_wrap #header #gnb .top_sns li{
	float: left;
}
#header_wrap #header #gnb .top_sns li.sns1 a{
	background:url(../img/sns_facebook.png) no-repeat center center;
}
#header_wrap #header #gnb .top_sns li.sns2 a{
	background:url(../img/sns_instagram.png) no-repeat center center;
}
#header_wrap #header #gnb .top_sns li.sns3 a{
	background:url(../img/sns_youtube.png) no-repeat center center;
}
#header_wrap #header #gnb .top_sns li.sns4 a{
	background:url(../img/sns_blog.png) no-repeat center center;
}

#header_wrap #header #gnb .top_sns li a{
	display: block;
	width: 40px;
	height: 50px;
	text-indent: -9999px; /* 글자 안보이게 하려고 글자를 밀어냄 */
}
/* 로고 + 메뉴들 */
#header_wrap #header #top_menu_wrap{
	width: 100%;
	margin: 0 auto;
	margin-top: 85px;
}
#header_wrap #header #top_menu_wrap h1.logo{
    position: absolute;
    z-index: 99;
    top: 55px;
}
/* 서브메뉴 */

#header_wrap #header #top_menu_wrap .bg_menu{
	position: relative;
	float: right;
	margin-top: -30px;
	overflow: hidden;
	height: 50px;
	transition-property: height;
	transition-duration: 0.3s;
}
#header_wrap #header #top_menu_wrap .nav:hover .bg_menu{
	height: 230px;
}
#header_wrap #header #top_menu_wrap .depth1>li{
	float: left;
	text-align: center;
}
#header_wrap #header #top_menu_wrap .depth1>li>a{
	color: #000000;
	padding: 0px 0px 23px 70px;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: -1px;
	text-align: center;
	display: block;
}
#header_wrap #header #top_menu_wrap .depth1>li>a span{
	font-weight: 500;
    font-family: "나눔고딕";
}
#header_wrap #header #top_menu_wrap .depth1>li>a:hover span{
	border-bottom: 3px solid #023586;
	padding: 0px 0px 26px 0px;
}

#header_wrap #header #top_menu_wrap .nav .drop_bg{
	position: absolute;
	width: 100%;
	height: 0px;
	background: #ffffff;
	top: 145px;
	left: 0px;
	transition-property: height;
	transition-duration: 0.3s;
}

#header_wrap #header #top_menu_wrap .nav .drop_bg span{
	background: url(../img/banner_nav.png) no-repeat left;
	display: block;
	width: 1180px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	transition-property: height;
	transition-duration: 0.3s;
}

#header_wrap #header #top_menu_wrap .nav:hover .drop_bg{
	width: 100%;
	height: 200px;
	border-bottom: 2px solid #023586;
	border-top: 1px solid #dddddd;
}

#header_wrap #header #top_menu_wrap .nav:hover .drop_bg span{
	height: 80%;
}

#header_wrap #header #top_menu_wrap .depth1 .depth2{
	height: 0px;
	line-height: 10px;
}
#header_wrap #header #top_menu_wrap .depth1 .depth2 li{
	clear: both;
	padding-top: 25px;
}
#header_wrap #header #top_menu_wrap .depth1 .depth2 a{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -1px;
	display: block;
	height: auto;
	text-align: center;
	margin-left: 70px;
}
#header_wrap #header #top_menu_wrap .depth1 .depth2 a:hover{
	color: #023586;
}

#header_wrap #header #top_menu_wrap .nav .drop_bg span{
	background: url(../img/circle_logo.png) no-repeat center center;
	background-size: 50%;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	left: -400px;
	transition-property: height;
	transition-duration: 0.3s;
}
/* 헤드 고정 */
/* footer */
footer{margin-top: 30px;}
#footer{width: 100%; background: #023586; height: 150px;  margin: 0 auto;}
#footer .footer_set{width: 62.5%; margin: 0 auto;}
#footer .footer_set img{width: 15%; float: left; position: absolute; left: 365px; cursor: pointer;}
#footer ul{text-align: right; color: white; font-weight: 500;}

#footer ul li{background:url(../img/line.png) no-repeat center right; display: inline-block; padding: 0 15px 0 15px; margin-bottom: 30px; font-size: 14px; margin-top: 40px;}
#footer ul li:last-child{background: none; padding-right: 0;}
#footer p{color: white; clear: both; text-align: right; font-size: 10px;}
/* 푸터 고정 */